parameters:
    level: 8

    paths:
        - src
        - config
        - tests

    cognitive_complexity:
        class: 25
        function: 8

    unused_public:
        properties: true
        constants: true
        methods: true

    type_coverage:
        return_type: 99
        param_type: 99
        property_type: 99
